<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/topracing26?zeroDateTimeBehavior=convertToNull&amp;useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=America/Mexico_City</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.release_mode">after_transaction</property>
    <property name="hibernate.connection.pool_size">50</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</property>
    <mapping resource="Tables/Countryregion.hbm.xml"/>
    <mapping resource="Tables/Province.hbm.xml"/>
    <mapping resource="Tables/Penaltiespl.hbm.xml"/>
    <mapping resource="Tables/Regatta.hbm.xml"/>
    <mapping resource="Tables/Appstats.hbm.xml"/>
    <mapping resource="Tables/Variant.hbm.xml"/>
    <mapping resource="Tables/Provinceregion.hbm.xml"/>
    <mapping resource="Tables/Bid.hbm.xml"/>
    <mapping resource="Tables/Pointscount.hbm.xml"/>
    <mapping resource="Tables/Currency.hbm.xml"/>
    <mapping resource="Tables/Country.hbm.xml"/>
    <mapping resource="Tables/Registration.hbm.xml"/>
    <mapping resource="Tables/Car.hbm.xml"/>
    <mapping resource="Tables/Planetregion.hbm.xml"/>
    <mapping resource="Tables/Venue.hbm.xml"/>
    <mapping resource="Tables/Participant.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
